.layui-table-cell {
    /*height: auto;*/
    /*padding: 0px 5px;*/
    /*position: relative;*/
    /*box-sizing: border-box;*/
    /*overflow: auto;*/
    /*white-space: normal;*/
}
.fb-main-table .layui-form-item img {width:300px;}
.fb-main-table .layui-form-item ul li {float: left; margin-left: 10px;}
.input-p{
    line-height: 37px;
}